<div class="header">
    <!-- <h1 onclick="alert('HTML alert')"> -->
        <img
      src="../../../assets/images/hero.png"
      class="header__img"
      alt="Study"
    />
 <div class="header-text">
    <h1>
      When
      <!-- Green highlight effect -->
      <span class="header-highlight">Education</span>
      meets<br />
      <span class="header-highlight">Curiosity</span>
    </h1>
    <h4>A simpler Education experience for a simpler life.</h4>
    <a class="header-btn-text header-btn-scroll-to " href="/about">Learn more &DownArrow;</a>
</div>
    
  </div>
