<div class="about">
   
<div class="about-text">
  <h1>
    About us
  </h1>
  <ul about-info>
    <li>We provide mentorship, hands-on training.</li>
    <li>Expert guidance with career, internships, jobs around the world..</li>
    <li>We have weekly and monthly events, participating in these events will surely enhance your skills.</li>
  </ul>
  <div class="about-links">
    <a class="header-btn-text header-btn-scroll-to " href="/about">Telegram &RightArrow;</a>
    <a class="header-btn-text header-btn-scroll-to " href="/about">Blog &RightArrow;</a>
  </div>
  
</div>
<img
src="../../../assets/images/coaching.jpeg"
class="about__img"
alt="Study"
/>
</div>
